<% if (theme.social) { %>
    <div class="home-social">
    <% theme.social.forEach(item => { %>
        <a href="<%= item.link %>" title="<%= item.title %>">
            <i class="fa fa-<%= item.icon %>"></i>
        </a>
    <% }) %>
    </div>
<% } %>
